.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-size: 14px;
    color: #333;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007bff;
}